.rf-alert {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    max-width: 75%;
    min-width: 50%;

    .rf-alert-body {
        padding: 10px;
    }

    .rf-alert-footer {
        border-top: 0.5px solid #aaa;
        flex-direction: row;

        .rf-alert-option {
            border-left: 0.5px solid #aaa;
            flex: 1;
            padding: 10px;

            &:first-child {
                border-left: none;
            }
        }
    }
}
