* {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.rf-root{
    min-height: 100%;
    flex: 1;
}

.rf-page{
    min-height: 100%;
    flex: 1;
}

.rf-hide{
    display: none !important;
}

.rf-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, 0.5);
}

.rf-centering {
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    position: relative;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: initial;
    text-decoration: none;
}
